*{
    margin:0%;;
    padding:0%;
}
.container{
    height:400px;
    width: 60%;
    border-style:solid;
    border-color:aquamarine;
    display: inline-block;
    
    /* margin-left: 150px;
    margin-right:150 ; */
}
body {
    background-image: url("../Images/workplace-2303851_1280.jpg");
    background-position: cover;
}